#r-navbar-h {
    height: 100%;
}
.r-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.r-logo-img {
    margin-top: 10px;
}
.gender-style {
    font-size: 25px;
<<<<<<< HEAD
    border: 1px groove black;
}

.mkt-middle {
    display: flex;
    justify-content: center;
}
=======
}
.mkt-img{
    width: auto;
    height: 100%;
    /* Magic! */
    max-height:  35vw;
}
.mkt-middle{
    display: flex;
    justify-content: center;
}
>>>>>>> 7752857c86f78d28eb41861e522ed8b4c524c7e2
